<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--输入的文件位置-->
    <add key="input_path" value="d:\dev\git_projects\Incubator\RpcContract" />
    <!--输出的文件位置-->
    <add key="output_path" value="d:\abc" />
  </appSettings>
</configuration>