<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--输入的文件位置-->
    <add key="input_path" value="D:\dev\git_projects\NetGear\example\Rpc\Rpc.Contract\" />
    <!--输出的文件位置-->
    <add key="output_path" value="d:\abc" />
    <add key="head_note" value="/*{0} *  {1}{0} *  本文件由生成工具自动生成，请勿随意修改内容除非你很清楚自己在做什么！{0} */{0}"/>
    <!--引用的接口的名称空间-->
    <add key="namespace_ref" value="NetGear.Example.Rpc"/>
    <!--生成的代理类的名称空间-->
    <add key="namespace_gen" value="NetGear.Example.Rpc"/>
  </appSettings>
</configuration>